<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" 
             type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, 
                   Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <alias alias="IDataAccess" type="UnityFramework.IDataAccess, UnityFramework" />
    <namespace name="Hello.World" />
    <assembly name="Hello.World" />
    <!-- These are for design time configuration -->
    <container>
      <register type="ICompany" name="Company" mapTo="TellThePeople"></register>
    </container>
    <container>
      <register type="IDataAccess" name="DataAccess" mapTo="SqlDataAccess"></register>
    </container>
  </unity>
  <appSettings>
    <add key="Device" value="Console" />
    <!-- add key="Device" value="Posting" / -->
    <add key="Posting"  value="https://web.site/rest/service/post?some=key..." />
  </appSettings>
</configuration>